{% extends 'base.html'%}
{% block page_content %}
    

    <div class="page-heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About EventX</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="about-upcoming-shows">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>About Our Work</h2>
                    <p><p>EventX is a company that organizes/popularizes different kind of events.
                        we can organize event at one of our venues - <a href="{% url 'contact us' %}">Rent a venue</a> by calling
                    or we can show you the events we organize and give you a link to the best ticket deal  - <a href="{% url 'event list' %}">Shows & Events</a>.
                        You can also check out what users share from our events or you can share something yourself, but if you want to do that please - <a href="{% url 'register page' %}">Register</a> or <a href="{% url 'login page' %}">Login</a>
                        If you have any questions please <a href="{% url 'contact us' %}">Contact Us</a>.</p></p>
                    <h4>Items That Are Restricted at our events</h4>
                    <ul>
                        <li>* Flash Cameras</li>
                        <li>* Food & Drinks</li>
                        <li>* Any kind of flashy objects</li>
                    </ul>
                    <div class="text-button">
                        <a href="https://www.google.com/maps/place/bul.+%22Vitosha%22,+Sofia/@42.685869,23.3157168,17z/data=!3m1!4b1!4m5!3m4!1s0x40aa851045e62c3f:0x75c66d6bd9bbbc0b!8m2!3d42.685869!4d23.3179055">Need Directions? <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <h4>Some of our venues</h4>
        <div class="coming-events">
        <div class="left-button">
            <div class="main-white-button">
                <a href="{% url 'about page' %}">Contact Us!</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for venue in venues %}
                <div class="col-lg-4">
                    <div class="event-item">
                            <div class="thumb">
                                <a href="{% url 'about page' %}"><img src="{{ venue.photo.url }}" alt="event picture"></a>
                            </div>
                            <div class="down-content">
                                <a href=""><h4>{{ venue.name }}</h4></a>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> {{ venue.location }}</li>
                                </ul>
                            </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}