{% extends 'base.html'%}

{% block page_content %}


    <div class="page-heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact EventX</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="about-upcoming-shows">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Contact Details:</h2>
                    <p>Mobile Number: 000-000-1111<p>
                    <p>Email: eventx-contact@gmail.com<p>
                    <p>Office: bul.Vitosha, Sofia<p>
                    <h4>Working Hours</h4>
                    <ul>
                        <li>Mon to Fri: 10:00 AM to 8:00 PM</li>
                        <li>Sat - Sun: 11:00 AM to 4:00 PM</li>
                        <li>Holidays: Closed</li>
                    </ul>
                    <div class="text-button">
                        <a href="https://www.google.com/maps/place/bul.+%22Vitosha%22,+Sofia/@42.685869,23.3157168,17z/data=!3m1!4b1!4m5!3m4!1s0x40aa851045e62c3f:0x75c66d6bd9bbbc0b!8m2!3d42.685869!4d23.3179055">Need Directions? <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}