{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <h6>Welcome to</h6>
                        <h2>EventX</h2>
                        {% if not request.user.is_authenticated %}
                        <div class="main-white-button">
                            <a href="{% url 'register page' %}">Register</a>
                        </div>

                        <div class="main-white-button">
                            <a href="{% url 'login page' %}">Login</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- *** Amazing Venus ***-->
    <div class="amazing-venues">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="left-content">
                        <h4>About Us</h4>
                        <p>EventX announces, popularizes and organizes events all around the world.
                            Jump in to share a moment, look what other people think etc. <a href="{% url 'register page' %}">Register</a>/<a
                                    href="{% url 'login page' %}">Login</a>,
                            <a href="shows-events.html">Shows &amp; Events</a>, you can see more in  <a
                                    href="{% url 'about page' %}">About Us</a>.
                            <br>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="right-content">
                        <h5><i class="fa fa-map-marker"></i> Visit Us</h5>
                        <span>bul. Vitosha, <br>Sofia<br>Bulgaria</span>
                        <div class="text-button"><a
                                href="https://www.google.com/maps/place/bul.+%22Vitosha%22,+Sofia/@42.685869,23.3157168,17z/data=!3m1!4b1!4m5!3m4!1s0x40aa851045e62c3f:0x75c66d6bd9bbbc0b!8m2!3d42.685869!4d23.3179055">Need
                            Directions? <i class="fa fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- *** Coming Events ***-->
    <div class="coming-events">
        <div class="left-button">
            <div class="main-white-button">
                <a href="{% url 'event list' %}">Discover More</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for event in just_added_events %}
                <div class="col-lg-4">
                    <div class="event-item">
                            <div class="thumb">
                                <a href="{% url 'event details' event.pk %}"><img src="{{ event.picture.url }}" alt="event picture"></a>
                            </div>
                            <div class="down-content">
                                <a href="event-details.html"><h4>{{ event.title }}</h4></a>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> {{ event.date_of_event }}</li>
                                    <li><i class="fa fa-map-marker"></i> {{ event.location }}</li>
                                </ul>
                            </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}